.techdomain {
  font-size: 30px;
  text-decoration: underline;
  text-transform: capitalize;
}

.skill-center-horizontally {
  margin: 0 auto;
}

.skill--padding {
  padding-left: 10%;
}

.proficiency-bar {
  background-color: cadetblue;
  color: whitesmoke;
}

.proficiency-bar:hover {
  background-color: green;
}

.proficiency-bar-nil {
  background-color: lightgrey;
}
