@import "../../../scss/functions";
@import "../../../scss/mixins";

.main--blog {
  display: grid;

  height: auto;
  justify-content: center;
  align-content: center;
  text-align: center;


  padding-bottom: 150px;
}

.text--title {
  font-weight: 250;
  font-style: bold;
  font-size: 2.3rem;
  text-decoration: none !important;
}

.post {
  display: flex;
  flex-direction: wrap;

  @include themify() {
    background: theme("background-color");
    color: theme("text-color");
    border-color: theme("card-border");
  }
  border-radius: 10px;
  border: 1px solid;
  text-align: left;
  height: 100%;
  cursor: pointer;
}

.post--header--image {
  display: block;
  width: 100%;
  height: auto;
}

.post--body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  align-content: center;
  justify-content: center;
}
.post--link {
  text-decoration: none;
}

.post--title {
  font-size: 3.0em;
  padding-left: 10px;
  margin-bottom: 15px;
}
.post--footer {
  min-width: 100%;
  font-size: 1em;
}

.post--author {
  float: left;
  padding-left: 15px;
}

.post--publish--date {
  float: right;
  padding-right: 15px;
}

.post:hover {
  @include themify() {
    background: theme("link-hover-color");
    box-shadow: 0px 8px 16px 0px theme("text-color");
  }
}

/*.card--tagbox {
  display: flex;
  flex-flow: row wrap;
  font-size: 14px;
  margin: 20px 0 0 0;
  padding: 0;
  justify-content: center;

  .tag__item {
    display: inline-block;
    background: rgba(83, 83, 83, 0.4);
    border-radius: 3px;
    padding: 2.5px 10px;
    margin: 0 5px 5px 0;
    cursor: default;
    user-select: none;
    transition: background-color 0.3s;

    &:hover {
      background: rgba(83, 83, 83, 0.8);
    }
  }
}*/

.flex-container {
  display: flex;
  justify-content: center;
}

.wrap {
  --webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-item {
  margin: 6px;
  width: 30%;
  min-width: 25%;
  min-height: 25%;
}
